*{
    padding:0;
    margin:0;
    box-sizing:border-box;
 }
 .cont{
    background-color:#e6e6e6;
    padding:10px;
    width: 260px;
    height: 290px;
    border-radius: 5px;
 }
 .cont1{
    background-color: white;
    border-radius: 5px;
    padding:20px;
 }
 .button{
    background-color: rgb(18, 165, 239);
    color: white;
    border-radius: 5px;
    width: 165px;
    padding:5px;
    border:0;
 }
